<p>
  project works!
</p>
<div class="example-container4">
  <mat-form-field>
    <input matInput placeholder="Project Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Client Name">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Project Status">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Duration">
    </mat-form-field>  

    <mat-form-field>
        <textarea matInput placeholder="Project Details"></textarea>
    </mat-form-field>  
      
    <mat-form-field>
        <textarea matInput placeholder="Project Members"></textarea>
      </mat-form-field>

    <mat-form-field>
          <input matInput placeholder="Role">
    </mat-form-field>    

    <mat-form-field>
        <input matInput placeholder="Project Location">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Project At">
        </mat-form-field>  

        <mat-form-field>
            <input matInput placeholder="Team Size">
          </mat-form-field>   

          <mat-form-field>
              <textarea matInput placeholder="Skills"></textarea>
            </mat-form-field>
            
            <mat-form-field>
                <textarea matInput placeholder="Project URL"></textarea>
              </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>

