<p>
  certification works!
</p>
<div class="example-container3">
    <mat-form-field>
      <input matInput placeholder="Certification name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Certification authority">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder=" License number">
      </mat-form-field>
  
      <mat-form-field>
          <input matInput placeholder="Duration from">
      </mat-form-field>  
  
      <mat-form-field>
          <input matInput placeholder="Duration to">
      </mat-form-field>  
        
      <mat-form-field>
          <input matInput placeholder="Certification URL">
        </mat-form-field>
  
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  
  