<p>
  location works!
</p>
  <div class="example-container2">
    <mat-form-field>
      <input matInput placeholder="City">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="State">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
  
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  
  