<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="noindex, nofollow" name="robots">

<!-- Header -->
<nav class="navbar navbar-expand-lg ">
  <mat-toolbar class="head">
    <img src="/src/logo9.png" alt="Nature" class="responsive">
    <span class="spacer"></span>
  </mat-toolbar>
</nav>

<!-- Form -->
<form class="form" #ProjectsForm="ngForm" action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h3>Project Details</h3>
    <hr>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project Title</label>
      <div class="col-sm-10">
        <input matInput class="form-control ng-untouched ng-pristine ng-invalid" name="projectTitle" placeholder="Enter Project Title"
          type="text" id="projectTitle" [(ngModel)]="projects.projectTitle">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Client Name</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-valid" name="client" placeholder="Enter Client Name of Project" type="text"
          id="client" [(ngModel)]="projects.client">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project Status</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectStatus" placeholder="Enter Current Project Status"
          type="text" id="projectStatus" [(ngModel)]="projects.projectStatus">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Duration</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="duration" placeholder="Enter Duration of Project" type="text"
          id="duration" [(ngModel)]="projects.duration">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project Details</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectDetails" placeholder="Enter Project Details"
          type="text" id="projectDetails" [(ngModel)]="projects.projectDetails">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project Members</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectMembers" placeholder="Enter Project Members"
          type="text" id="projectMembers" [(ngModel)]="projects.projectMembers">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Role</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="role" placeholder="Enter your Role in Project" type="text"
          id="role" [(ngModel)]="projects.role">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project Location</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectLocation" placeholder="Enter Project Location"
          type="text" id="projectLocation" [(ngModel)]="projects.projectLocation">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project At</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectAt" placeholder="Enter where your Project is At"
          type="text" id="projectAt" [(ngModel)]="projects.projectAt">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Team Size</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="teamSize" placeholder="Enter Team Size" type="text"
          id="teamSize" [(ngModel)]="projects.teamSize">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Skills</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="Skills" placeholder="Enter Skills learned" type="text"
          id="skills" [(ngModel)]="projects.skills">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" >Project URL</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-invalid" name="projectURL" placeholder="Enter Project URL" type="text"
          id="projectURL" [(ngModel)]="projects.projectURL">
      </div>
    </div>

    <div class="text-center">

      <input class="btn btn-form" type="submit" value="Save" (click)="onSubmit(projects)">
      <h6 style="color:blue;">{{error}}</h6>
    </div>
    <hr>

  </div>
</form>

<!-- Footer -->

<section id="lab_social_icon_footer">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="column">

        <h6><b>MatchZone Thinks</b> </h6>
      </div>


      <div class="column">

        <h6>Copyright © 2018 Stackroute </h6>
      </div>
      <div class="column">
        <div class="text-center center-block">
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>

        </div>
      </div>

    </div>
  </div>
</section>