<p>
  personal-data works!
</p>
<div class="example-container5">

    <mat-form-field style="margin:10px">
      <input matInput placeholder="Full Name">
    </mat-form-field>

    <mat-form-field style="margin:10px">
        <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field  style="margin:10px">
          <input matInput placeholder="Gender">
        </mat-form-field>

        <mat-form-field  style="margin:10px">
            <input matInput placeholder="Marital Status">
          </mat-form-field> 
        <mat-form-field  style="margin:10px">
            <input matInput placeholder="Permanent Address">
          </mat-form-field>
        <mat-form-field  style="margin:10px">
            <input matInput placeholder="Home Town">
          </mat-form-field>
        <mat-form-field  style="margin:10px">
            <input matInput placeholder="Pin Code">
          </mat-form-field >
        <mat-form-field  style="margin:10px">
              <input matInput placeholder="Languages">
            </mat-form-field>
         <mat-form-field  style="margin:10px">
            <input matInput placeholder="Age">
            </mat-form-field>    
        <mat-form-field  style="margin:10px">
            <input matInput placeholder="BloodGroup">
              </mat-form-field>      
         <mat-form-field  style="margin:10px">
              <input matInput placeholder="LinkedIn">
              </mat-form-field>
          <mat-form-field  style="margin:10px">
               <input matInput placeholder="Email-Id">
            </mat-form-field>
            <mat-form-field  style="margin:10px">
           <input matInput placeholder="GitHub">
              </mat-form-field>
              
              </div>