<mat-toolbar class="head">
  <mat-icon>games</mat-icon>
  <span class="header">Welcome to one step Job Finder</span>
  <span class="spacer"></span>
  <a routerLink="login"><button mat-raised-button>Login</button></a>
  <a routerLink="register"><button mat-raised-button>Register</button></a>
</mat-toolbar>
<body>
    <div class="matchzone">
        <h2><strong>MatchZone</strong></h2>
      </div>
  <mat-card class="mat-card">
    <input class="input" type="text" placeholder="Search for skills">
  </mat-card>
</body>
<!-- <mat-toolbar class="footer" color="primary"></mat-toolbar> -->
<footer>
    <mat-toolbar class="foot">
      <div layout="row" layout-align="center center" flex>
          <p>Matchzone Thinks</p>
      </div>
    </mat-toolbar>
   </footer>