<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="image/png" href="/src/logo9.png"/>
<!-- Header -->
<nav class="navbar navbar-expand-lg ">
  <mat-toolbar class="head">
    <img src="/src/logo9.png" alt="Nature" class="responsive">
    <span class="spacer"></span>
    <a routerLink="login"><button mat-raised-button>Sign In</button></a>
  </mat-toolbar>
</nav>

<body>
  <!-- Jumbotron -->
  <div class="jumbotron bg-light jumbotron-billboard">
    <div class="img">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="w3-animate-zoom" style="-webkit-margin-start: 4px;
                  -webkit-margin-end: 0px;">MatchZone</h2>
          <p style="-webkit-margin-start: 4px;
                    -webkit-margin-end: 0px;color:white;" class="w3-animate-bottom">
            Best site for Job Matching
          </p>

          <a style="-webkit-margin-start: 4px;
                    -webkit-margin-end: 0px;" href="register" class="btn btn-success btn-lg w3-animate-left">JobSeeker?
            Sign Up</a><br><br>
          <div style="-webkit-margin-start: 4px;
                    -webkit-margin-end: 0px;" class="search">
            <input type="text" class="searchTerm w3-animate-right" style="color:white;" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>

          <div class="wrap">
            <div class="search">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <h3 class="title is-medium has-text-light has-text-centered">How can MatchZone help you hire better?</h3>

    </div>
  </div>

  <!-- Matcard -->
  <div class="row">
    <div class="column">
      <div class="card">
        <mat-card>
          <mat-card-title><b>Are you a Recruiter?</b></mat-card-title>
          <img src="/src/article.png" class="art">
          <h6 class="content">MatchZone matches the right candidates to your search, leaving you with a pipeline of only
            the most qualified candidates and a personalized, seamless hiring experience.</h6>
          <ul style="list-style-type:disc!important;display: list-item;" class="content">
            <h6>
              <li>You search for candidates</li>
              <li style="list-style-type:disc!important;display: list-item;">Profiles matching the requirements are listed</li>
              <li style="list-style-type:disc!important;display: list-item;">You can contact selected candidates</li>
            </h6>
          </ul>
          <a href="login" class="btn btn-success btn-lg">Sign In</a>
        </mat-card>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <mat-card>
          <mat-card-title><b>Are you a candidate?</b></mat-card-title>
          <img src="/src/article.png" class="art">
          <h6 class="content">In MatchZone, you need not upload resumes. Just create a profile by filling your details. Your
            profile will be listed to recruiters. Save your time by searching for jobs. Now recruiters will seek out.</h6>
          <ul style="list-style-type:disc!important;display: list-item;" class="content">
            <h6>
              <li>Register for free.</li>
              <li style="list-style-type:disc!important;display: list-item;">Fill the forms for creating your profile.</li>
              <li style="list-style-type:disc!important;display: list-item;">Your profile will be listed to the recruiters.</li>
            </h6>
          </ul>
          <a href="register" class="btn btn-success btn-lg">Sign Up</a>
        </mat-card>
      </div>
    </div>


  </div>

  <div class="hero-body is-medium" style="-webkit-margin-start: 10px;
  -webkit-margin-end: 0px;">
    <div class="container1 has-text-centered">
      <h2 class="title plan-header is-medium has-text-centered has-text-light">Join the top companies using MatchZone to
        build great teams.<div style="text-align:center;">(Demo purpose only)</div></h2>
      <div class="grid is-company ">
        <div class="grid__item ">
          <img src="https://www.switchapp.com/img/company-logo/amazon.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/appboy.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/birchbox.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/bloomberg.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/cadre.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/cbInsights.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/century-link.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/closerIQ.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/comcast.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/complex.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/crowdtap.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/ebay.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/ESPN.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/evernote.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/expedia.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/havas.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/jawbone.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/Intersection.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/KMPG.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/LibertyMutual.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/lumosity.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/mealpal.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/mediacom.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/metromile.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/microsoft.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/nbc-universal.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/nielson.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/nylon.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/shopkeep.png">
        </div>
        <div class="grid__item">
          <img src="https://www.switchapp.com/img/company-logo/shutterstock.png">
        </div>
      </div>
    </div>
  </div>
</body>
<div class="row slideanim">
  <div class="col-sm-6 col-xs-12">
    <div class="tab-wrap">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.594486248293!2d77.61287335047254!3d12.933764619161934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1451ddedb711%3A0xc97522d51d6ff993!2sNIIT+regional+office!5e0!3m2!1sen!2sin!4v1539080709291"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

</div>

<!-- Footer -->
<section id="lab_social_icon_footer">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container_footer">
    <div class="row">
      <div class="column" width="20%">
        <div class="text-center center-block">
          <a href="https://www.facebook.com/StackRouteOfficial/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/stack_route?lang=en"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="http://www.stackroute.in/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          <a href="https://gitlab.stackroute.in/users/sign_in"><i id="social-git" class="fa fa-github-square fa-3x social"></i></a>
          <a href="https://www.youtube.com/channel/UCGCxQFLLKZHV69lC-7p6eWA"><i id="social-you" class="fa fa-youtube-square"></i></a>
        
        </div>
      </div>
      <div class="column" width="70%">
        <h6><b>Contact Us:</b><br> 38, 4th B Cross Rd, Koramangala 5th Block,<br> Koramangala Industrial Layout, Near JNC College Rd,, Bengaluru, Karnataka 560095</h6>
        
      </div>
    </div>

    <h6 style="text-align: center;">Copyright © 2018 Stackroute </h6>
  </div>
</section>